<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <p>You have solved <%= numSolved %> problems.</p>

      <table class="table table-striped">
        <thead>
          <th>Problem</th>
          <th>Solved?</th>
        </thead>

        <tbody>
          <% for (var i = 0; i < progress.length; ++i) { %>
            <tr>
              <td><a href="/problem/<%= progress[i].number %>">Problem <%= progress[i].number %></a></td>
              <% if (progress[i].solved) { %>
                <td><div class="solved">Solved</div></td>
              <% } else { %>
                <td><div class="not-solved">Not Solved</div></td>
              <% } %>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </body>
</html>
