<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Problem {{index}}</h1>

    {{#if hasSolved}}
      <p>You have solved this problem!</p>
    {{else}}
      <p>You have not solved this problem yet.</p>
    {{/if}}

    <p>{{problemStatement}}</p>

    <form action="/problem/{{index}}" method="post">
      Your answer:<br>
      <input type="text" name="submittedAnswer"><br>
    </form>
  </body>
</html>
